@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
$blu-savoia: #0057A0;
$giallo-torino: #FFCD00;

.font-regal {
    font-family: 'Playfair Display', serif;
    font-weight: 700; // A bold weight is suitable for a logo
}

$primary: $blu-savoia;
$warning: $giallo-torino;

@import "bootstrap/scss/bootstrap";

// (Optional) You can add other global styles here