version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: participium_db
    env_file:
      - ./prod.env
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5439:5432"
    volumes:
      - postgres_data_production:/var/lib/postgresql/data
    restart: always

  server:
    image: omarsimone/participium-server
    container_name: participium_server
    env_file:
      - ./prod.env
    environment:
      NODE_ENV: ${NODE_ENV}
      APP_PORT: ${APP_PORT:-3000}
      DB_HOST: db
      DB_PORT: 5432
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}

    ports:
      - "3000:3000"
    depends_on:
      - db
    restart: unless-stopped

  client:
    image: omarsimone/participium-client:v1.0.0
    container_name: participium_client
    env_file:
      - ./prod.env
    environment:
      NODE_ENV: ${NODE_ENV}
    ports:
      - "5173:5173"
    depends_on:
      - server
    restart: unless-stopped

volumes:
  postgres_data_production:
